<div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-md-6 col-lg-4 my-3" data-aos="fade-up">
        <span class="service-icon">
          <i class="fas fa-fish"></i>
        </span>
        <h5 class="font-weight-bold text-uppercase">Poissonnerie</h5>
        <p class="text-muted text-capitalize">
          Les meilleurs poissons des nos rivière et fleuve
        </p>
      </div>
     
      <div class="col-10 mx-auto col-md-6 col-lg-4 my-3" data-aos="fade-right"> 
        <span class="service-icon">
          <i class="fas fa-drumstick-bite"></i>
        </span>
        <h5 class="font-weight-bold text-uppercase">Boucherie</h5>
        <p class="text-muted text-capitalize">
          La meilleur viande des nos troupeau
        </p>
      </div>
     
      <div class="col-10 mx-auto col-md-6 col-lg-4 my-3" data-aos="fade-left">
        <span class="service-icon">
          <i class="fas fa-pepper-hot"></i>
        </span>
        <h5 class="font-weight-bold text-uppercase">Epicerie</h5>
        <p class="text-muted text-capitalize">
          Pour un gout particulier, les meilleurs epices
        </p>
      </div>
    </div>
  </div>